.color {
    width: 100px;
    height: 100px;
    display: inline-block;    
}

#color-palette {
    height: 120px;
}

#preto {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: black;
}

#amarelo {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: yellow;
}

#azul {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: blue;
}

#vermelho {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: red;
}

#pixel-board {
    border: 1px;
    border-style: solid;
    border-color: black;
    width: 210px;
    height: 210px;
}

.pixel {
    width: 40px;
    height: 40px;
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: white;
}

#linha1 {
    display: flex;
}

#linha2 {
    display: flex;
}

#linha3 {
    display: flex;
}

#linha4 {
    display: flex;
}

#linha5 {
    display: flex;
}