.color {
    width: 100px;
    height: 100px;
    display: inline-block;
    
}

#color-palette {
    height: 120px;
}

#preto {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: black;
}

#amarelo {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: yellow;
}

#azul {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: blue;
}

#vermelho {
    border: 1px;
    border-style: solid;
    border-color: black;
    background-color: red;
}